@import "~antd/dist/antd.css";

.App {
  height: 100%;
  width: 100%;
}

.logo {
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

div:after,
ul:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
}
